@layer components {
  [data-rehype-pretty-code-figure] {
    background-color: var(--color-code);
    color: var(--color-code-foreground);
    border-radius: var(--radius-lg);
    border-width: 0px;
    border-color: var(--border);
    overflow: hidden;
    font-size: var(--text-sm);
    outline: none;
    position: relative;

  }

  [data-rehype-pretty-code-title] {
    border-bottom: var(--border);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-block: calc(var(--spacing) * 2.5);
    padding-inline: calc(var(--spacing) * 4);
    font-size: var(--text-sm);
    font-family: var(--font-mono);
    color: var(--color-code-foreground);
  }

  [data-line-numbers] {
    display: grid;
    min-width: 100%;
    white-space: pre;
    border: 0;
    background: transparent;
    padding: 0;
    counter-reset: line;
    box-decoration-break: clone;
  }

  [data-line-numbers] [data-line]::before {
    font-size: var(--text-sm);
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    min-width: calc(var(--spacing) * 8);     
    padding-left: calc(var(--spacing) * 3);  
    padding-right: calc(var(--spacing) * 4); 
    text-align: right;
    color: var(--color-muted-foreground);
    background-color: var(--color-code);
    position: sticky;
    left: 0;
  }

  [data-line-numbers] [data-highlighted-line][data-line]::before {
    background-color: var(--color-code-highlight);
  }

  [data-line] {
    padding-top: calc(var(--spacing) * 0.5);
    padding-bottom: calc(var(--spacing) * 0.5);
    padding-inline: calc(var(--spacing) * 4);
    min-height: calc(var(--spacing) * 1);
    width: 100%;
    display: inline-block;
  }

  [data-line-numbers] [data-line] {
    padding-inline: 0;
  }

  [data-line] span {
    color: var(--shiki-light);
  }

  [data-theme="shadcn-dark"] [data-line] span,
  [data-theme="celeste-dark"] [data-line] span,
  [data-theme="orchid-dark"] [data-line] span,
  [data-theme="dune-dark"] [data-line] span,
  [data-theme="lagoon-dark"] [data-line] span,
  [data-theme="canopy-dark"] [data-line] span
   {
    color: var(--shiki-dark) !important;
  }

  [data-highlighted-line],
  [data-highlighted-chars] {
    position: relative;
    background-color: var(--color-code-highlight);
  }

  [data-highlighted-line] {
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      content: "";
      background-color: color-mix(
        in oklab,
        var(--muted-foreground) 50%,
        transparent
      );
    }
  }

  [data-highlighted-chars] {
    border-radius: var(--radius-sm);
    padding-inline: 0.3rem;
    padding-block: 0.1rem;
    font-family: var(--font-mono);
    font-size: 0.8rem;
  }


  [data-rehype-pretty-code-figure].hide-line-numbers [data-line-numbers] [data-line]::before {
    display: none;
  }

  [data-rehype-pretty-code-figure].hide-line-numbers [data-line-numbers] [data-line] {
    padding-inline: calc(var(--spacing) * 4); /* Restore padding when numbers hidden */
  }
}