@import "tailwindcss";
@import "@lumi-ui/ui/globals.css";

@import "./theme.css";
@import "./code.css";


@theme {
  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0.19, 1, 0.22, 1);
  --duration: 200ms;
  --duration-fast: 150ms;
}

@utility animate-popup {
  will-change: transform, opacity;
  transform-origin: var(--transform-origin);

  transition-property: opacity, scale, translate, display, overlay;
  transition-duration: var(--duration);
  transition-timing-function: var(--ease-out);

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    scale: 0.95;
  }

  &[data-ending-style] {
    transition-timing-function: var(--ease-out);
    transition-duration: var(--duration-fast);
  }
  
  @media (prefers-reduced-motion: reduce) {
    transition-duration: 0ms !important;
    animation-duration: 0ms !important;
  }
}

@utility animate-dialog {
  will-change: transform, opacity;
  transform-origin: top;

  transition-property: opacity, scale, translate, display, overlay;
  transition-duration: var(--duration-fast);

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    scale: 0.9;
  }

  @media (prefers-reduced-motion: reduce) {
    transition-duration: 0ms !important;
    animation-duration: 0ms !important;
  }
  
}

@utility animate-backdrop {
  transition-property: opacity, display, overlay;
  transition-duration: var(--duration-fast);
  transition-timing-function: linear; 

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }
  
  @media (prefers-reduced-motion: reduce) {
    transition-duration: 0ms !important;
  }
}

@utility container {
  @apply 3xl:max-w-screen-2xl mx-auto max-w-[1400px] px-4 lg:px-8;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility focus-state{
  @apply outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-1;
}

@utility extend-touch-target {
  @media (pointer: coarse) {
    @apply relative touch-manipulation after:absolute after:-inset-2;
  }
}


@utility step {
	counter-increment: step;

	&:before {
		@apply hidden bg-background absolute mt-[-8px] ml-[-52px] lg:inline-flex size-10 items-center justify-center rounded-full border border-input text-center -indent-px font-mono text-xs font-medium text-muted-foreground;
		content: counter(step);
	}
  
	&:first-child:last-child:before {
		@apply hidden;
	}
}


