@import "tailwindcss";
@import "@lumi-ui/ui/globals.css";

@import "./theme.css";
@import "./code.css";
@import "./lumi.css";

@custom-variant dark (&:where([data-theme$="-dark"], [data-theme$="-dark"] *));

@utility container {
  @apply 3xl:max-w-screen-2xl mx-auto max-w-[1400px] px-4 lg:px-8;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility focus-state{
  @apply outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-1;
}

@utility extend-touch-target {
  @media (pointer: coarse) {
    @apply relative touch-manipulation after:absolute after:-inset-2;
  }
}




