@import "tailwindcss";
@import "@lumi-ui/ui/globals.css";

@import "./theme.css";
@import "./code.css";

@custom-variant dark (&:where([data-theme$="-dark"], [data-theme$="-dark"] *));


@utility animate-popup {
  transform-origin: var(--transform-origin);
  transition-property: opacity, scale, translate; 
  transition-duration: 200ms;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    scale: 0.95;
  }

}

@utility animate-dialog {
  transform-origin: top;
  transition-property: all;
  transition-duration: 150ms;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    scale: 0.9;
  }
}

@utility animate-backdrop {
  transition-property: all;
  transition-duration: 100ms;
  transition-timing-function: linear; 

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }
}


@utility container {
  @apply 3xl:max-w-screen-2xl mx-auto max-w-[1400px] px-4 lg:px-8;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility focus-state{
  @apply outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-1;
}

@utility extend-touch-target {
  @media (pointer: coarse) {
    @apply relative touch-manipulation after:absolute after:-inset-2;
  }
}


@utility step {
	counter-increment: step;

	&:before {
		@apply hidden bg-background absolute mt-[-8px] ml-[-52px] lg:inline-flex size-10 items-center justify-center rounded-full border border-input text-center -indent-px font-mono text-xs font-medium text-muted-foreground;
		content: counter(step);
	}
  
	&:first-child:last-child:before {
		@apply hidden;
	}
}


