@import "tailwindcss";
@import "tw-animate-css";

@import "./theme.css";

@theme inline {
  --breakpoint-3xl: 1600px;
  --breakpoint-4xl: 2000px;
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);
  --color-code: var(--code);
  --color-code-foreground: var(--code-foreground);
  --color-code-highlight: var(--code-highlight);
  --color-code-number: var(--code-number);
  --color-selection: var(--selection);
  --color-selection-foreground: var(--selection-foreground);

  --radius: 0.625rem;
  --header-height: 4rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  ::selection {
    @apply bg-primary text-background;
  }
  html {
    @apply scroll-smooth;
    scrollbar-gutter: stable;
  }

	body {
		@apply bg-background text-foreground overscroll-none relative;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
	}

	.root {
		@apply isolate;
	}

  a:active,
  button:active {
    @apply opacity-60 md:opacity-100;
  }
}


@theme {
  --ease-out: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --duration: 200ms;
  --duration-end: 100ms;
}

@utility animate-popup {
  transform-origin: var(--transform-origin);

  transition-property: opacity, scale, translate, display, overlay;
  transition-duration: var(--duration);
  transition-timing-function: var(--ease-out);

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    scale: 0.9;
  }

  &[data-ending-style] {
    transition-timing-function: var(--ease-in);
    transition-duration: var(--duration-end);
  }
}

@utility container {
  @apply 3xl:max-w-screen-2xl mx-auto max-w-[1400px] px-4 lg:px-8;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility focus-state{
  @apply outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-1;
}

@utility extend-touch-target {
  @media (pointer: coarse) {
    @apply relative touch-manipulation after:absolute after:-inset-2;
  }
}

@layer components {
  [data-rehype-pretty-code-figure] {
    background-color: var(--color-code);
    color: var(--color-code-foreground);
    border-radius: var(--radius-lg);
    border-width: 0px;
    border-color: var(--border);
    overflow: hidden;
    font-size: var(--text-sm);
    outline: none;
    position: relative;

  }

  [data-rehype-pretty-code-title] {
    border-bottom: var(--border);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-block: calc(var(--spacing) * 2.5);
    padding-inline: calc(var(--spacing) * 4);
    font-size: var(--text-sm);
    font-family: var(--font-mono);
    color: var(--color-code-foreground);
  }

  [data-line-numbers] {
    display: grid;
    min-width: 100%;
    white-space: pre;
    border: 0;
    background: transparent;
    padding: 0;
    counter-reset: line;
    box-decoration-break: clone;
  }

  [data-line-numbers] [data-line]::before {
    font-size: var(--text-sm);
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    min-width: calc(var(--spacing) * 8);     
    padding-left: calc(var(--spacing) * 3);  
    padding-right: calc(var(--spacing) * 4); 
    text-align: right;
    color: var(--color-muted-foreground);
    background-color: var(--color-code);
    position: sticky;
    left: 0;
  }

  [data-line-numbers] [data-highlighted-line][data-line]::before {
    background-color: var(--color-code-highlight);
  }

  [data-line] {
    padding-top: calc(var(--spacing) * 0.5);
    padding-bottom: calc(var(--spacing) * 0.5);
    padding-inline: calc(var(--spacing) * 4);
    min-height: calc(var(--spacing) * 1);
    width: 100%;
    display: inline-block;
  }

  [data-line-numbers] [data-line] {
    padding-inline: 0;
  }

  [data-line] span {
    color: var(--shiki-light);
  }

  [data-theme="shadcn-dark"] [data-line] span,
  [data-theme="celeste-dark"] [data-line] span,
  [data-theme="orchid-dark"] [data-line] span,
  [data-theme="dune-dark"] [data-line] span,
  [data-theme="lagoon-dark"] [data-line] span,
  [data-theme="canopy-dark"] [data-line] span
   {
    color: var(--shiki-dark) !important;
  }

  [data-highlighted-line],
  [data-highlighted-chars] {
    position: relative;
    background-color: var(--color-code-highlight);
  }

  [data-highlighted-line] {
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      content: "";
      background-color: color-mix(
        in oklab,
        var(--muted-foreground) 50%,
        transparent
      );
    }
  }

  [data-highlighted-chars] {
    border-radius: var(--radius-sm);
    padding-inline: 0.3rem;
    padding-block: 0.1rem;
    font-family: var(--font-mono);
    font-size: 0.8rem;
  }


  [data-rehype-pretty-code-figure].hide-line-numbers [data-line-numbers] [data-line]::before {
    display: none;
  }

  [data-rehype-pretty-code-figure].hide-line-numbers [data-line-numbers] [data-line] {
    padding-inline: calc(var(--spacing) * 4); /* Restore padding when numbers hidden */
  }
}

@utility step {
	counter-increment: step;

	&:before {
		@apply hidden bg-background absolute mt-[-8px] ml-[-52px] lg:inline-flex size-10 items-center justify-center rounded-full border border-input text-center -indent-px font-mono text-xs font-medium text-muted-foreground;
		content: counter(step);
	}
  
	&:first-child:last-child:before {
		@apply hidden;
	}
}


