@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --breakpoint-3xl: 1600px;
  --breakpoint-4xl: 2000px;
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);
  --color-code: var(--code);
  --color-code-foreground: var(--code-foreground);
  --color-code-highlight: var(--code-highlight);
  --color-code-number: var(--code-number);
  --color-selection: var(--selection);
  --color-selection-foreground: var(--selection-foreground);

  --radius: 0.625rem;
  --header-height: 4rem;
}

@layer base {
  [data-theme="shadcn-light"] {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);

    --surface: oklch(0.98 0 0);
    --surface-foreground: var(--foreground);
    --code: var(--surface);
    --code-foreground: var(--surface-foreground);
    --code-highlight: oklch(0.96 0 0);
    --code-number: oklch(0.56 0 0);
  }

  [data-theme="shadcn-dark"] {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.269 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.371 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
 
    --surface: oklch(0.2 0 0);
    --surface-foreground: oklch(0.708 0 0);
    --code: var(--surface);
    --code-foreground: var(--surface-foreground);
    --code-highlight: oklch(0.27 0 0);
    --code-number: oklch(0.72 0 0);
  }

  [data-theme="celeste-light"] {
    --radius: 0.5rem;
    --background: oklch(0.99 0.01 250);
    --foreground: oklch(0.18 0 0);
    --card: oklch(0.99 0 0);
    --card-foreground: oklch(0.18 0 0);
    --popover: oklch(0.99 0 0);
    --popover-foreground: oklch(0.18 0 0);
    --primary: oklch(0.47 0.13 265);
    --primary-foreground: oklch(0.99 0.01 250);
    --secondary: oklch(0.96 0 0);
    --secondary-foreground: oklch(0.25 0 0);
    --muted: oklch(0.95 0 0);
    --muted-foreground: oklch(0.45 0.02 250);
    --accent: oklch(0.93 0.04 265);
    --accent-foreground: oklch(0.2 0.03 265);
    --destructive: oklch(0.6 0.18 30);
    --border: oklch(0.9 0 0);
    --input: oklch(0.92 0 0);
    --ring: oklch(0.65 0.08 265);

    --surface: oklch(0.97 0.01 252);
    --surface-foreground: var(--foreground);
    --code: var(--surface);
    --code-foreground: var(--surface-foreground);
    --code-highlight: oklch(0.94 0.02 250);
  }

  [data-theme="celeste-dark"]  {
    --radius: 0.5rem;
    --background: oklch(0.19 0.01 265);
    --foreground: oklch(0.96 0.01 250);
    --card: oklch(0.22 0.02 265);
    --card-foreground: oklch(0.96 0.01 250);
    --popover: oklch(0.24 0.02 265);
    --popover-foreground: oklch(0.96 0.01 250);
    --primary: oklch(0.72 0.14 265);
    --primary-foreground: oklch(0.13 0.02 265);
    --secondary: oklch(0.28 0.02 265);
    --secondary-hover: oklch(0.32 0.02 265);
    --secondary-foreground: oklch(0.96 0.01 250);
    --muted: oklch(0.25 0.02 265);
    --muted-foreground: oklch(0.7 0.03 265);
    --accent: oklch(0.32 0.05 265);
    --accent-foreground: oklch(0.96 0.01 250);
    --destructive: oklch(0.65 0.15 25);
    --destructive-hover: oklch(0.6 0.15 25);
    --border: oklch(0.3 0.02 265);
    --input: oklch(0.3 0.02 265);
    --ring: oklch(0.63 0.1 265);

    --surface: oklch(0.21 0.02 265);
    --surface-foreground: oklch(0.69 0.04 263);
    --code: var(--surface);
    --code-foreground: var(--surface-foreground);
    --code-highlight: oklch(0.28 0.03 265);
    
  }

  [data-theme="orchid-light"]{
    --radius: 0.6rem;
    --background: oklch(0.97 0.01 334);
    --foreground: oklch(0.36 0.03 290);
    --card: oklch(0.97 0.01 334);
    --card-foreground: oklch(0.36 0.03 290);
    --popover: oklch(0.97 0.01 334);
    --popover-foreground: oklch(0.36 0.03 290);
    --primary: oklch(0.61 0.07 300);
    --primary-foreground: oklch(0.97 0.01 300);
    --secondary: oklch(0.88 0.03 300);
    --secondary-foreground: oklch(0.36 0.03 290);
    --muted: oklch(0.93 0.01 334);
    --muted-foreground: oklch(0.43 0.01 325);
    --accent: oklch(0.90 0.03 322);
    --accent-foreground: oklch(0.25 0.04 290);
    --destructive: oklch(0.63 0.15 22.67);
    --destructive-foreground: oklch(0.98 0 0);
    --border: oklch(0.84 0.02 300);
    --input: oklch(0.87 0.04 300);
    --ring: oklch(0.61 0.07 300);

    --surface: oklch(0.96 0.02 325);
    --surface-foreground: var(--primary);
    --code: var(--surface);
    --code-foreground: var(--surface-foreground);
    --code-highlight: oklch(0.92 0.03 304);
  }
  [data-theme="orchid-dark"] {
    --radius: 0.6rem;
    --background: oklch(0.18 0.01 298);
    --foreground: oklch(0.86 0.02 293);
    --card: oklch(0.25 0.03 292);
    --card-foreground: oklch(0.9 0.02 293);
    --popover: oklch(0.25 0.03 292);
    --popover-foreground: oklch(0.9 0.02 293);
    --primary: oklch(0.71 0.08 302);
    --primary-foreground: oklch(0.21 0.02 293);
    --secondary: oklch(0.46 0.04 295);
    --secondary-foreground: oklch(0.9 0.02 293);
    --muted: oklch(0.26 0.03 295);
    --muted-foreground: oklch(0.69 0.02 300);
    --accent: oklch(0.31 0.03 308);
    --accent-foreground: oklch(0.95 0.02 308);
    --destructive: oklch(0.68 0.14 21.4);
    --destructive-foreground: oklch(0.21 0.02 293);
    --border: oklch(0.3 0.03 293);
    --input: oklch(0.28 0.03 291);
    --ring: oklch(0.71 0.07 302);

    --surface: oklch(0.22 0.03 316);
    --surface-foreground: oklch(0.75 0.05 314);
    --code: var(--surface);
    --code-foreground: var(--surface-foreground);
    --code-highlight: oklch(0.28 0.04 325);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  ::selection {
    @apply bg-primary text-background;
  }
  html {
    @apply scroll-smooth;
    scrollbar-gutter: stable;
  }

	body {
		@apply bg-background text-foreground overscroll-none relative;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
	}

	.root {
		@apply isolate;
	}

  a:active,
  button:active {
    @apply opacity-60 md:opacity-100;
  }
}


@utility container {
  @apply 3xl:max-w-screen-2xl mx-auto max-w-[1400px] px-4 lg:px-8;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility focus-state{
  @apply outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-1;
}

@utility extend-touch-target {
  @media (pointer: coarse) {
    @apply relative touch-manipulation after:absolute after:-inset-2;
  }
}

@layer components {
  [data-rehype-pretty-code-figure] {
    background-color: var(--color-code);
    color: var(--color-code-foreground);
    border-radius: var(--radius-lg);
    border-width: 0px;
    border-color: var(--border);
    overflow: hidden;
    font-size: var(--text-sm);
    outline: none;
    position: relative;

  }

  [data-rehype-pretty-code-title] {
    border-bottom: var(--border);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-block: calc(var(--spacing) * 2.5);
    padding-inline: calc(var(--spacing) * 4);
    font-size: var(--text-sm);
    font-family: var(--font-mono);
    color: var(--color-code-foreground);
  }

  [data-line-numbers] {
    display: grid;
    min-width: 100%;
    white-space: pre;
    border: 0;
    background: transparent;
    padding: 0;
    counter-reset: line;
    box-decoration-break: clone;
  }

  [data-line-numbers] [data-line]::before {
    font-size: var(--text-sm);
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    min-width: calc(var(--spacing) * 8);     
    padding-left: calc(var(--spacing) * 3);  
    padding-right: calc(var(--spacing) * 4); 
    text-align: right;
    color: var(--color-muted-foreground);
    background-color: var(--color-code);
    position: sticky;
    left: 0;
  }

  [data-line-numbers] [data-highlighted-line][data-line]::before {
    background-color: var(--color-code-highlight);
  }

  [data-line] {
    padding-top: calc(var(--spacing) * 0.5);
    padding-bottom: calc(var(--spacing) * 0.5);
    padding-inline: calc(var(--spacing) * 4);
    min-height: calc(var(--spacing) * 1);
    width: 100%;
    display: inline-block;
  }

  [data-line-numbers] [data-line] {
    padding-inline: 0;
  }

  [data-line] span {
    color: var(--shiki-light);
  }

  [data-theme="shadcn-dark"] [data-line] span,
  [data-theme="celeste-dark"] [data-line] span,
  [data-theme="orchid-dark"] [data-line] span {
    color: var(--shiki-dark) !important;
  }

  [data-highlighted-line],
  [data-highlighted-chars] {
    position: relative;
    background-color: var(--color-code-highlight);
  }

  [data-highlighted-line] {
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      content: "";
      background-color: color-mix(
        in oklab,
        var(--muted-foreground) 50%,
        transparent
      );
    }
  }

  [data-highlighted-chars] {
    border-radius: var(--radius-sm);
    padding-inline: 0.3rem;
    padding-block: 0.1rem;
    font-family: var(--font-mono);
    font-size: 0.8rem;
  }


  [data-rehype-pretty-code-figure].hide-line-numbers [data-line-numbers] [data-line]::before {
    display: none;
  }

  [data-rehype-pretty-code-figure].hide-line-numbers [data-line-numbers] [data-line] {
    padding-inline: calc(var(--spacing) * 4); /* Restore padding when numbers hidden */
  }
}

@utility step {
	counter-increment: step;

	&:before {
		@apply hidden bg-background absolute mt-[-8px] ml-[-52px] lg:inline-flex size-10 items-center justify-center rounded-full border border-input text-center -indent-px font-mono text-xs font-medium text-muted-foreground;
		content: counter(step);
	}
  
	&:first-child:last-child:before {
		@apply hidden;
	}
}


